.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 10px auto;
  border-top: 1px solid var(--primary-90-color);
  //   border-bottom: 1px solid var(--primary-90-color);
  position: relative;
  padding-top: 2rem;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: calc(100% - 1px);
    height: 10px;
    border-left: 1px solid var(--primary-90-color);
    border-right: 1px solid var(--primary-90-color);
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 10px;
    border-left: 1px solid var(--primary-90-color);
  }
}

.title {
  font-size: 32px !important;
  width: 100%;
}

.rewards {
  display: flex;
  height: 100px;
  width: calc(100% - 2rem);
  padding: 1rem;
  background-color: var(--canto-color);
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow, 3px 3px 0px 0px rgba(17, 17, 17, 0.15));
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  border-top: 1px solid var(--primary-90-color);
  //   border-bottom: 1px solid var(--primary-90-color);
  position: relative;
  padding-top: 2rem;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: calc(100% - 1px);
    height: 10px;
    border-left: 1px solid var(--primary-90-color);
    border-right: 1px solid var(--primary-90-color);
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 10px;
    border-left: 1px solid var(--primary-90-color);
  }

  animation: loading 1.4s infinite ease-in;
  animation-delay: 0;

  @keyframes loading {
    to {
      width: 100%;
      opacity: 1;
    }
    from {
      width: 10%;
      opacity: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin: 1rem;
    width: calc(100vw - 2rem);
    gap: 1rem;
    padding-top: 1rem;
    &::after {
      display: none;
    }
  }
  .rewards {
    flex-direction: column;
    height: calc(100% - 2rem);
    width: 100%;
    align-items: flex-start;
    gap: 1.25rem;
    padding: 1.5rem, 1rem, 1.5rem, 1rem;
  }
}
