.modalContainer{
    //display: flex;
    //flex-direction: column;
}

.spacer{
    border-bottom: 1px solid gray;
}

.modalInfoRow{
    display: flex;
    //padding: auto;
    height: 7%;
    flex-direction: row !important;
    justify-content:space-between;
    .modalInfoRow2{
        display: flex;
        flex-direction: row !important;
    }
}
.buttonContainer{
    display: flex;
    justify-content: center;
}