.proposalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px !important;
    margin: 10px auto;
    border-top: 1px solid var(--primary-90-color);
    position: relative;
    padding-top: 2rem;
  
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      width: calc(100% - 1px);
      height: 10px;
      border-left: 1px solid var(--primary-90-color);
      border-right: 1px solid var(--primary-90-color);
    }

  .proposalHeaderContainer {
    padding: 10px 0px 20px 10px;
    border-bottom: 1px solid var(--border-stroke-color, #b3b3b3);
  }
  .proposalCard1 {
    display: flex;
    flex-direction: row !important;
    border-style: solid !important;
    width: fit-content;
  }
  .backButtonContainer {
    border-right: 1px solid;
    padding: 10px;
  }
  .backButton {
    height: 100%;
    transform: rotate(90deg);
  }
  .backButtonContainer:hover {
    background-color: var(--border-stroke-color, #b3b3b3);
    z-index: 1; // Ensure the row appears above the others
  }
  .proposalInfoContainer {
    padding: 10px 0px 0px 0px;
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    //height: 400px;

    //justify-content: space-between !important;

    .graphAndVoteContainer{
      width: 50%;
      display: flex;
      flex-direction: column ;
      //justify-content: space-between;
      margin-right: 30px;
      .proposalCardContainer1 {
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        //background-color: blue;
        height: 60%;
        box-shadow: var(--box-shadow, 3px 3px 0px 0px rgba(17, 17, 17, 0.15));
        .proposalInfoBoxVoting {
          background-color: var(--card-sub-surface-color, #dfdfdf);
          height: fit-content;
          .proposalInfoVoting {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            border: 1px solid var(--border-stroke-color, #b3b3b3);
            border-radius: 5px;
            padding: 10px;
            height: 100%;
            width: 48%;
          }
          .proposalInfoVoting:hover {
            background-color: #afe0cc;
          }
          .proposalInfoRow1 {
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            height: 45%;
            margin: 15px 30px 0px 30px;
            .radioBtnContainer {
              display: flex;
              align-items: center;
              margin: 0px 17px 0px 15px;
            }
          }
          .votingInfoRow1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 50%;
            .circle {
              width: 7px; 
              height: 7px; 
              border-radius: 50%;
            }
          }
          .votingInfoRow2 {
            .infoRow1First {
              display: flex;
              flex-direction: row;
              height: 50%;
              justify-content: flex-end;
              width: 100%;
            }
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: center;
          }
        }
        
      }
      .graphContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--card-sub-surface-color, #dfdfdf);
        box-shadow: var(--box-shadow, 3px 3px 0px 0px rgba(17, 17, 17, 0.15));
      }
    }


    .proposalCardContainer2 {
      height: 500px;
      display: flex;
      flex-direction: column !important;
      margin-top: 30px;
      width: 50%;
      border: 1px solid var(--border-stroke-color, #b3b3b3);
      box-shadow: var(--box-shadow, 3px 3px 0px 0px rgba(17, 17, 17, 0.15));
      background-color: var(--card-sub-surface-color, #dfdfdf);
      .detailsHeader{
        width: 100%;
        padding: 20px 0px 20px 20px;
        border-bottom: 1px solid var(--border-stroke-color, #b3b3b3);
      }
    
    
      .proposalInfoBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //background-color: var(--card-sub-surface-color, #dfdfdf);
        margin: 0px 20px 0px 0px;
        padding: 20px 20px 20px 20px;
        .proposalInfo {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 20px;
          //overflow: ;
          .displayAmount {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            .icon{
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 2px;
          }
          }
        }
        
      }
      .proposalInfoTimeLine {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 20px 0px 0px;
        padding: 15px;
        .proposalInfo2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          //overflow: ;
        }
        
        
      }
      .separator{
        height: 5rem;
        //padding-left: 60px;
        margin-left: 4px;
        border-left: 2px solid var(--graph-fill-color, #D0D0D0);

      }
      .timeLine{
        display: flex;
        flex-direction: row;
        //height: 2rem;
        //margin-top: 20px;
        .circleContainer{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
        }
        .circle{
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: var(--graph-fill-color, #D0D0D0);
        }
      }
    }
    
  }
  
  
  
  
  .proposalInfoBoxVoting {
    background-color: var(--card-sub-surface-color, #dfdfdf);
    //height: 500px;
    //height: 60%;
    //height: 70%;
    height: fit-content;

    .proposalInfoVoting {
      display: flex;
      flex-direction: row;
      //justify-content: space-between;
      flex-wrap: nowrap;
      border: 1px solid var(--border-stroke-color, #b3b3b3);
      border-radius: 5px;
      padding: 10px;
      //border-radius: 2px;
      height: 100%;
      width: 48%;
    }
    .proposalInfoVoting:hover {
      background-color: #afe0cc;
    }
    .proposalInfoRow1 {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
      height: 45%;
      margin: 15px 30px 0px 30px;
      //padding: 10px 10px 0px 10px;
      .radioBtnContainer {
        display: flex;
        align-items: center;
        margin: 0px 17px 0px 15px;
      }

      //   .radioInput[value="Yes"] + span {
      //     background-color: lightgreen !important;
      //   }
      //   .radioInput[value="No"]+ span {
      //     background-color: lightcoral;
      //   }
      //   .radioInput[value="Abstain"]:checked + span {
      //     background-color: lightblue;
      //   }
      //   .radioInput[value="Veto"]:checked + span {
      //     background-color: "#4455EF";
      //   }
    }
    .votingInfoRow1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 50%;
      .circle {
        width: 7px; /* Small circle size */
        height: 7px; /* Small circle size */
        //background-color: red; /* Red circle */
        border-radius: 50%; /* Make it round */
        //margin-top: 20%;
        //position: absolute; /* Position it inside the box */
      }
    }
    .votingInfoRow2 {
      .infoRow1First {
        display: flex;
        flex-direction: row;
        height: 50%;
        justify-content: flex-end;
        width: 100%;
      }

      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
    }
  }
  .VotingButton {
    //padding-bottom: 20px;
    //width: 100%;
    display: flex;
    justify-content: center;
    //align-items: center;
    height: 25%;
    //width: 300;
    //margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }

  

  .VotingButton .tooltip {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: white;
    font-family: inherit;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    z-index: 1;
    margin-top: 20%;
    margin-left: 20%;
    opacity: 1;
    transition: opacity 0.6s;
  }

  .VotingButton:hover .tooltip {
    visibility: visible;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    margin-left: 20%;
    opacity: 1;
    transition: opacity 0.6s;
  }
}
.noProposalContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  //background-color: green;
  height: 100%;
  justify-self: center;
}
