.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px !important;
  margin: 10px auto;
  border-top: 1px solid var(--primary-90-color);
  position: relative;
  padding-top: 2rem;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: calc(100% - 1px);
    height: 10px;
    border-left: 1px solid var(--primary-90-color);
    border-right: 1px solid var(--primary-90-color);
  }

  .proposalHeaderContainer {
    padding: 10px 0px 20px 10px;
    width: 100%;
    margin: 0 20px 0 20px;
  }
  .headerCard {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    width: fit-content;
    margin: 40px 0px 24px 0;
    //border-style: solid ;
    .headerColumn2 {
      display: flex;
      flex-direction: row;
    }
  }
  .backButtonContainer {
    border: 1px solid;
    padding: 10px 15px 10px 10px;
    width: fit-content;
    //padding: 10px;
  }
  .backButton {
    height: 100%;
    transform: rotate(90deg);
  }
  .backButtonContainer:hover {
    background-color: var(--border-stroke-color, #b3b3b3);
    z-index: 1; // Ensure the row appears above the others
  }
  .proposalInfoContainer {
    padding: 10px 0px 0px 0px;
    display: flex ;
    flex-direction: row ;
    width: 100%;
    margin: 0 20px 0 20px;

    .graphAndVoteContainer {
      //min-width: 500px;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      .votingOptionsContainer {
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        border: 1px solid var(--border-stroke-color, #b3b3b3);
        background-color: var(--card-sub-surface-color, #dfdfdf);
        box-shadow: var(--box-shadow, 3px 3px 0px 0px rgba(17, 17, 17, 0.15));
        //width: 100%;
        //height: 360px;
        margin-top: 30px;
        .detailsHeader {
          width: 100%;
          padding: 20px 0px 20px 20px;
          border-bottom: 1px solid var(--border-stroke-color, #b3b3b3);
        }
        .votingBox {
          height: fit-content;
          .proposalInfoVoting {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            border: 1px solid var(--border-stroke-color, #b3b3b3);
            border-radius: 5px;
            padding: 10px;
            height: 100%;
            width: 48%;
          }
          .proposalInfoVoting:hover {
            background-color: #afe0cc;
          }
          .votingInfoRow1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 50%;
            .circle {
              width: 7px;
              height: 7px;
              border-radius: 50%;
            }
          }
          .votingInfoRow2 {
            .infoRow1First {
              display: flex;
              flex-direction: row;
              height: 50%;
              justify-content: flex-end;
              width: 100%;
            }
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: center;
          }

          .VotingButton {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;
            padding-top: 10px;
            padding-bottom: 10px;
            align-items: center;
          }

          .VotingButton .tooltip {
            visibility: hidden;
            width: 300px;
            background-color: black;
            color: white;
            font-family: inherit;
            text-align: center;
            border-radius: 6px;
            padding: 10px;
            z-index: 1;
            margin-top: 20%;
            margin-left: 20%;
            opacity: 1;
            transition: opacity 0.6s;
          }

          .VotingButton:hover .tooltip {
            visibility: visible;
            width: 300px;
            background-color: black;
            color: white;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            z-index: 1;
            margin-left: 20%;
            opacity: 1;
            transition: opacity 0.6s;
          }
        }
      }
      .graphContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--card-sub-surface-color, #dfdfdf);
        box-shadow: var(--box-shadow, 3px 3px 0px 0px rgba(17, 17, 17, 0.15));
      }
    }

    .proposalCardContainer2 {
      height: 500px;
      display: flex;
      flex-direction: column !important;
      //min-width: 400px;
      //width: 30%;
      border: 1px solid var(--border-stroke-color, #b3b3b3);
      box-shadow: var(--box-shadow, 3px 3px 0px 0px rgba(17, 17, 17, 0.15));
      background-color: var(--card-sub-surface-color, #dfdfdf);
      .detailsHeader {
        width: 100%;
        padding: 16px;
        border-bottom: 1px solid var(--border-stroke-color, #b3b3b3);
      }

      .proposalInfoBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 420px;
        //background-color: var(--card-sub-surface-color, #dfdfdf);
        padding: 20px 20px 20px 20px;
        .proposalInfo {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 20px;
          //overflow: ;
          .displayAmount {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            .icon {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 2px;
            }
          }
        }
      }
      .proposalInfoTimeLine {
        display: flex;
        flex-direction: column;

        //justify-content: space-between;
        //margin: 20px 20px 0px 0px;
        //padding: 15px;
        .proposalInfo2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          //overflow: ;
        }
      }
      .separator {
        height: 3rem;
        //padding-left: 60px;
        margin-left: 4px;
        border-left: 2px solid var(--graph-fill-color, #d0d0d0);
      }
      .timeLine {
        display: flex;
        flex-direction: row;
        min-width: 280px;
        //height: 2rem;
        //margin-top: 20px;

        .txt {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-right: 5px;
        }
      }
    }
  }
}
.circleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--graph-fill-color, #d0d0d0);
  }
}
.noProposalContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  //background-color: green;
  height: 100%;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .container {
    border-top: 1px solid var(--border-stroke-color,#b3b3b3);
    width: calc(100vw);
    //gap: 1rem;
    padding: 1rem;
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
    .proposalInfoContainer {
      padding: 10px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 20px 0 20px;
    }
  }
  
  .header{
    // justify-content: space-between;
    // width: 100%;
  }
  

}