.proposalContainer{
    display: flex ;
    flex-direction: column !important ;
    //justify-content: space-between;
    //width: 100% !important;
    //flex-wrap: wrap !important;
    //background-color: blue;
    padding: 20px 20px 20px 20px;

    .proposalHeaderContainer{
        padding: 10px 0px 20px 10px;
        border-bottom: 1px solid var(--border-stroke-color, #b3b3b3);
    }
    .proposalCard1{
        display: flex;
        flex-direction: row !important;
        border-style: solid !important;
        width: fit-content;
    }
    .backButtonContainer{
        border-right: 1px solid;
        padding: 10px;
    }
    .backButton{
        height: 100%;
        transform: rotate(90deg);
        
    }
    .backButtonContainer:hover{
        background-color: var(--border-stroke-color, #b3b3b3); 
        z-index: 1; // Ensure the row appears above the others
    }
    .proposalCardContainer{
        padding: 10px 0px 0px 0px;
        display: flex !important;
        flex-direction: row !important;
        
        height: 400px;
        
        //justify-content: space-between !important;
    }
    .proposalCardContainer1{
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        //background-color: green;
        // width: 50% !important;
        //height: 100%;
        width: 50%;
        height: 60%;

        
    }
    .proposalCardContainer2{
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        //background-color: blue;
        height: 60%;
        width: 50%;
        background-color: var(--card-sub-surface-color, #dfdfdf);
        box-shadow: 3px 3px 0px 0px rgba(17, 17, 17, 0.15);
        
        // background-color: red;
    }
    .proposalInfoBox{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--card-sub-surface-color, #dfdfdf);
        margin: 0px 20px 0px 0px;
        height: 57%;
        box-shadow: 3px 3px 0px 0px rgba(17, 17, 17, 0.15);
        padding: 20px 20px 20px 20px;
        //align-items: center;
        //justify-content: space-between;
        //margin: 10% 10% 10% 10%;
        .proposalInfo{
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //overflow: ;
        }
    }
    .proposalInfoBox2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--card-sub-surface-color, #dfdfdf);
        margin: 0px 20px 0px 0px;
        height: 38%;
        box-shadow: 3px 3px 0px 0px rgba(17, 17, 17, 0.15);
        padding: 15px;
        //align-items: center;
        //justify-content: space-between;
        //margin: 10% 10% 10% 10%;
        .proposalInfo2{
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //overflow: ;
        }
    }
    .proposalInfoBoxVoting{
        background-color: var(--card-sub-surface-color, #dfdfdf);
        //height: 500px;
        //height: 60%;
        //height: 70%;
        height: fit-content;
        

        .proposalInfoVoting{
        
            display: flex;
            flex-direction: row;
            //justify-content: space-between;
            flex-wrap: nowrap;
            border: 1px solid var(--border-stroke-color, #B3B3B3);
            border-radius: 5px ;
            padding: 10px;
            //border-radius: 2px;
            height: 100%;
            width: 48%;

            


            
        }
        .proposalInfoVoting:hover{
            background-color: #AFE0CC;
        }
        .proposalInfoRow1{
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            height: 45%;
            margin: 15px 30px 0px 30px;
            //padding: 10px 10px 0px 10px;
            .radioBtnContainer{
                display: flex;
                align-items: center;
                margin: 0px 17px 0px 15px;
            }
            
            //   .radioInput[value="Yes"] + span {
            //     background-color: lightgreen !important;
            //   }
            //   .radioInput[value="No"]+ span {
            //     background-color: lightcoral;
            //   }
            //   .radioInput[value="Abstain"]:checked + span {
            //     background-color: lightblue;
            //   }
            //   .radioInput[value="Veto"]:checked + span {
            //     background-color: "#4455EF";
            //   }

              
              
        }
        .votingInfoRow1{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 50%;
            .circle {
                width: 7px; /* Small circle size */
                height: 7px; /* Small circle size */
                //background-color: red; /* Red circle */
                border-radius: 50%; /* Make it round */
                //margin-top: 20%;
                //position: absolute; /* Position it inside the box */
              }
        }
        .votingInfoRow2{
            .infoRow1First{
                display: flex;
                flex-direction: row;
                height: 50%;
                justify-content: flex-end;
                width: 100%;
            }
            
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: center;
        }

    }
    .VotingButton{
        //padding-bottom: 20px;
        //width: 100%;
        display: flex;
        justify-content: center;
        //align-items: center;
        height: 25%;
        //width: 300;
        //margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;

        
    }

    .VotingButton .tooltip {
        visibility: hidden;
        width: 300px;
        background-color: black;
        color: white;
        font-family:inherit;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        z-index: 1;
        margin-top: 20%;
        margin-left: 20%; 
        opacity: 1;
        transition: opacity 0.6s;
        }
          
    .VotingButton:hover .tooltip {
        visibility: visible;
        width: 300px;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        z-index: 1;
        margin-left: 20%; 
        opacity: 1;
        transition: opacity 0.6s;
    }
      
      
      
      
      
      

    
    
}

