.desktopOnly {
  display: none !important;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100dvw;
  height: calc(100dvh - 62px);
  z-index: 1;
  padding: 2rem;
  @media screen and (max-width: 1100px) {
    display: flex !important;
  }
}
