/* ProposalModal.module.css */
.votingContainer{
  padding: 10%;
  //justify-content: center;
}

.checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .checkboxOption {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    border: 1px #B3B3B3 solid;
    transition: background-color 0.3s;
    padding: 5%;
    margin: 5%;
  }
  
  .checkboxYes:hover, .checkboxYes:checked + label {
    background-color: lightgreen;
  }
  
  .checkboxNo:hover, .checkboxNo:checked + label {
    background-color: lightcoral;
  }
  .checkboxAbstain:hover, .checkboxAbstain:checked + label {
    background-color: lightskyblue;
  }
  
  .checkboxVeto:hover, .checkboxVeto:checked + label {
    background-color: lightgray;
  }
  
  /* Add similar styles for other vote options if necessary */
  