.container {
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  height: 80px;
  animation: fadeIn 0.5s ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 28px;
  }
}

.activity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  padding: 0 1rem;
  opacity: 0.4;
  transition: opacity 0.1s, transform 0.3s;

  &:hover {
    opacity: 1;
    // transform: translateY(4.7px);
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    transform: translate(-15%, 0%) scale(0, 0);
    transition: transform 0.3s, height 0.3s 0.1s, width 0.3s 0.1s;
  }
  &::before {
    content: "";
    display: block;
    height: 1px;
    transform: translate(-15%, 0%) scale(0, 0);

    transition: transform 0.3s, height 0.3s 0.1s, width 0.3s 0.1s;
  }
  //   &:hover::after {
  //     content: "";
  //     display: block;
  //     width: 140%;
  //     transform: translateX(-15%) scaleX(1);
  //     height: 10px;
  //     border: 2px solid var(--primary-dark-color);
  //     border-top: none;
  //   }
}

.active {
  opacity: 1;
  position: relative;
  &::before {
    content: "";
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    width: 10px;
    transform: translate(20%, -80%) scale(1, 1);
    height: 10px;
    border-right: 2px solid var(--primary-dark-color);
    border-top: 2px solid var(--primary-dark-color);
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 10px;
    transform: translate(-20%, 90%) scale(1, 1);
    height: 10px;
    border-left: 2px solid var(--primary-dark-color);
    border-bottom: 2px solid var(--primary-dark-color);
  }
}

.wallet-connect {
  display: flex;
  justify-content: flex-end;
  * {
    font-weight: 400 !important;
  }
}

.btn-grp {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 20px;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 76px;
}
