.container {
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  animation: fadeIn 0.5s ease-in-out;
  height: 60px;
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  a > img {
    width: 24px;
  }
}

.menu {
  display: none;
}

.activity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  padding: 0 1rem;
  opacity: 0.4;
  transition:
    opacity 0.1s,
    transform 0.3s;

  &:hover {
    opacity: 1;
    // transform: translateY(4.7px);
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    transform: translate(-15%, 0%) scale(0, 0);
    transition:
      transform 0.3s,
      height 0.3s 0.1s,
      width 0.3s 0.1s;
  }
  &::before {
    content: "";
    display: block;
    height: 1px;
    transform: translate(-15%, 0%) scale(0, 0);

    transition:
      transform 0.3s,
      height 0.3s 0.1s,
      width 0.3s 0.1s;
  }
  //   &:hover::after {
  //     content: "";
  //     display: block;
  //     width: 140%;
  //     transform: translateX(-15%) scaleX(1);
  //     height: 10px;
  //     border: 2px solid var(--primary-dark-color);
  //     border-top: none;
  //   }
}

.active {
  opacity: 1;
  position: relative;
  &::before {
    content: "";
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    width: 10px;
    transform: translate(20%, -80%) scale(1, 1);
    height: 10px;
    border-right: 2px solid var(--primary-dark-color);
    border-top: 2px solid var(--primary-dark-color);
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 10px;
    transform: translate(-20%, 90%) scale(1, 1);
    height: 10px;
    border-left: 2px solid var(--primary-dark-color);
    border-bottom: 2px solid var(--primary-dark-color);
  }
}

.wallet-connect {
  display: flex;
  justify-content: flex-end;
  * {
    font-weight: 400 !important;
  }
}

.btn-grp {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 20px;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 76px;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 0.2fr 1fr;
  }
  .activity {
    display: none;
  }
  .nav-links {
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
    width: 100%;
    background-color: var(--card-background-color);
    z-index: 2000;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--border-stroke-color);
  }
  //   data attribute which data-menu-open is set to true
  .nav-links[data-menu-open="true"] {
    transform: translateX(0);
  }

  .nav-links[data-menu-open="false"] {
    transform: translateX(-100%);
  }

  .nav-link {
    p {
      font-size: 24px !important;
    }
  }
  .btn-grp {
    justify-self: end;
  }
  .wallet-connect {
    justify-content: center;
  }

  .menu {
    display: block;
  }
}
