.input-container {
  display: flex;
  flex-direction: column;
  position: relative;

  section {
    display: flex;
  }

  label {
    position: absolute;
    top: -32px;
  }
  input {
    display: flex;
    width: 100%;
    // height: 58px;
    padding: 8px 16px 8px 8px;
    justify-content: flex-end;
    align-items: center;
    //border
    border-radius: var(--border-radius, 0px);
    border: 1px solid var(--border-stroke-color, #b3b3b3);

    // text
    color: var(--primary-90-color, #222);
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.96px;
    text-transform: lowercase;

    transition: all 0.1s ease-in-out;
    background-color: transparent;

    &::placeholder {
      color: var(--text-dark-40-color, #b3b3b3);
    }

    &:hover {
      border: 1px solid var(--primary-90-color, #222);
    }

    &:focus {
      outline: none;
      border: 1px solid var(--primary-90-color, #222);
      background-color: rgba(var(--dark-color), 0.07);
    }

    &:disabled {
      background-color: var(--card-sub-surface-color, #292929);
      border: 1px solid var(--border-stroke-color, #b3b3b3);
      color: var(--text-dark-40-color, #b3b3b3);
      cursor: not-allowed;
    }
  }
}

.error-message {
  position: absolute;
  top: 60px;
  left: 2px;
  color: var(--extra-failure-color, #ff0000);
  font-size: 13px;
  font-style: normal;
  font-family: var(--rm-mono);
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.48px;
  text-align: justify;
  transition: all 0.1s ease-in-out;
}
