.circle {
  position: absolute;
  width: var(--init-size);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid rgba(var(--dark-color), 0.2);
  animation: circle 20s var(--anim-delay) ease-in-out infinite forwards;
}

@keyframes circle {
  0% {
    width: 0%;
  }
  100% {
    width: 130%;
  }
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
