.item {
  position: relative;
  &:hover {
    .caption {
      opacity: 1;
      display: block;
    }
  }
}

.caption {
  display: none;
  position: absolute;
  transition: opacity 0.2s;
  opacity: 0;
  top: 0;
  right: 0;
  padding: 8px 16px;
  transform: translateY(-25px);
  background-color: var(--card-sub-surface-color);
  //   background-color: rgba(var(--light-color), 0.2);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  border: 1px solid var(--border-stroke-color);
  width: 100%;
  cursor: text;
  z-index: 20;
}
