.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  border: 1.5px solid rgba(var(--dark-color), 0.2);
  border-radius: 4px;
  cursor: pointer;
  gap: 4px;
  padding: 1rem;
  transition: all 0.1s linear;
  //   scale: 0.99;
  outline: 2px solid transparent;

  &:hover:not(.active) {
    background-color: rgba(var(--dark-color), 0.05);
    outline: 2px solid rgba(var(--dark-color), 0.05);
    border-color: rgba(var(--dark-color), 0.3);
    scale: 1;
  }
}

.active {
  background-color: rgba(var(--light-color), 0.5);
  outline: 2px solid rgba(var(--dark-color), 0.05);
  border-color: rgba(var(--dark-color), 0.3);
  scale: 1;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(var(--dark-color), 0.2);
  margin: 10px 0;
}
