.items-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow-y: auto;
  transition: transform 0.5s ease-out;
}

.scroll-view {
  height: calc(100% - 26px);
  overflow-y: auto;
  position: relative;
  &::before,
  &::after {
    top: 40px;
    left: 0;
    content: "";
    position: fixed;
    display: block;
    height: 30px;
    width: 100%;
    z-index: 12;
    background: linear-gradient(
      180deg,
      var(--card-sub-surface-color) 0%,
      var(--card-sub-surface-color) 22.92%,
      rgba(217, 217, 217, 0) 100%
    );
  }

  &::after {
    top: auto;
    bottom: 10px;
    background: linear-gradient(
      0deg,
      var(--card-sub-surface-color) 0%,
      var(--card-sub-surface-color) 22.92%,
      rgba(217, 217, 217, 0) 100%
    );
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 60px;
  padding: 0 16px;
  transition: all 0.2s ease-out;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--dark-color), 0.1);
    transform: scaleY(0.6) translateX(-16px);
    opacity: 0;
    transition: all 0.2s ease-out;
  }

  &:hover::after {
    transform: scaleY(1) translateX(-16px);
    opacity: 1;
  }

  &:active::after {
    transform: scaleY(0.9) translateX(-16px);
    background-color: rgba(var(--dark-color), 0.3);

    opacity: 0.8;
  }
}

.group {
  overflow: visible;
}
.grp-items {
  position: absolute;
  top: 20px;
  transform: translateX(100%);
  width: 100%;
  transition: transform 0.5s ease-out;
}

.expanded {
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}
