.tableCard {
  max-width: 1200px;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  border-radius: var(--border-radius);
  background: var(--card-sub-surface-color, #dfdfdf);
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);
}

.title {
  display: flex;
  align-items: center;
}

.table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.header {
  height: 60px !important;
}

.row {
  height: 90px;

  &:not(.header) {
    border: 1px solid var(--border-stroke-color);
  }
}

.row:hover:not(.header) {
  background: rgba(var(--dark-color), 0.1);
}

.cell {
  width: fit-content;
  // block-size: fit-content;
  text-align: center;
}
