.container {
  max-width: 1200px;
  min-width: 400px;
  width: 100%;

  margin: 0 auto;
  padding: 16px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-stroke-color);
  background: var(--card-sub-surface-color, #dfdfdf);
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.table {
  display: grid;
}

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid var(--border-stroke-color);

  .cell {
    // font-size: 14px;
    // font-weight: 600;
    opacity: 0.4;
  }
}

.content {
  display: grid;
}
.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 80px;

  &:not(.header) {
    // cursor: pointer;
    border: 1px solid var(--border-stroke-color);
    border-top: none;
  }
  &:not(.header):hover {
    background: rgba(var(--dark-color), 0.1);
  }
}
.rowElement {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:not(.header) {
    // cursor: pointer;
    border: 1px solid var(--border-stroke-color);
    border-top: none;
  }
  &:not(.header):hover {
    background: rgba(var(--dark-color), 0.1);
  }
}
.cellRow {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cell {
  font-family: var(--proto-mono);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header,
  .row {
    height: 80px;
    width: 100% !important;
  }

  .table {
    grid-template-rows: 80px 1fr;
  }

  .container {
    padding: 0px;
    margin: 0px;
    min-width: 0px !important;
  }

  .title {
    align-items: center;
    flex-wrap: wrap;
    height: auto;
  }
  .primaryTitle{
    padding:0.5rem;
  }
}
