.container {
  width: 100%;
  height: min-content;
  margin-bottom: 2rem;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  border: 1px solid var(--border-stroke-color);
  box-shadow: 2px 2px 0px 0px rgba(17, 17, 17, 0.15); /* Specified shadow */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;

  z-index: 3;
  //   /* Mouse-over effects */
  //   &:hover {
  //     opacity: 1; /* Fully shown on mouse-over */
  //   }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 8px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    box-shadow: 2px 2px 0px 0px rgba(17, 17, 17, 0.15); /* Specified shadow */
    background: var(--card-surface-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
    z-index: 2;
  }

  &::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04aa6d; /* Green background */
    cursor: pointer; /* Cursor on hover */
    z-index: 2;
  }
}

.steps {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4px;
  z-index: 1;
}

.step {
  width: 2px;
  height: 10px;
  background: var(--primary-90-color);
}
