.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.network-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
}

.infoPop {
  border-radius: 50px;
  border: 1px solid var(--border-stroke-color);
  background-color: rgba(var(--dark-color), 0.04);

  min-width: 24px;
  padding: 0 6px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.info {
  //   position: absolute;
  background-color: var(--card-sub-surface-color);
}
.networks-box {
  width: 100%;
}

.token-box {
  width: 100%;
}

.network-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 20px;
  border-radius: var(--border-radius, 0px);
  border: 1px solid var(--border-stroke-color, #b3b3b3);
}

.token {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-left: 1rem;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100%;
  gap: 1rem;
  width: 100%;
}

.extra-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border: 1px solid var(--border-stroke-color);
  padding: 1rem;
  background-color: rgba(var(--dark-color), 0.04);
}

.notification {
  /* circle shape, size and position */
  position: relative;
  right: -0.7em;
  top: -0.7em;
  min-width: 1.6em; /* or width, explained below. */
  height: 1.6em;
  border-radius: 0.8em; /* or 50%, explained below. */
  border: 1px solid var(--border-stroke-color);
  background-color: rgba(var(--dark-color));

  /* number size and position */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: var(--text-light-color);
}
