:root {
  --dark-mode: 0;
  --light-mode: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: 2px solid none;
  }
  &:focus-visible {
    outline: 2px solid rgba(var(--dark-color), 0.2);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: var(--card-primary-color);
  color: var(--text-light-color);
}

.light {
  --graph-fill: #868686;
  --graph-filled: #141414;
  --anim-bg-color: #dddddd;
  --canto-color: var(--extra-success-color, #06fc99);
  --dark-color: 17, 17, 17;
  --light-color: 255, 255, 255;
  --lighten-color: white;
  --darken-color: black;
  --primary-dark-color: #222;
  --primary-light-color: #eee;
  --text-only-dark: #212121;
  --text-only-light: #ffffff;
  --primary-90-color: #222222;
  --primary-10-color: #22222220;
  --light-10-color: #ffffff20;
  --light-20-color: #ffffff40;
  --text-light-color: #ffffff;
  --card-background-color: #c1c1c1;
  --text-light-30-color: #ffffff4c;
  --extra-failure-color: #ef4444;
  --text-dark-30-color: #1111114c;
  --extra-success-color: #06fc99;
  --text-light-40-color: #ffffff66;
  --card-subtle-color: #cacaca;
  --text-dark-40-color: #11111166;
  --card-primary-color: #111111;
  --border-optional-color: #ffffff00;
  --extra-shadow: #cdcdcd;
  --border-stroke-color: #b3b3b3;
  --border-radius: 0px;
  --text-dark-color: #111111;
  --card-sub-surface-color: #dfdfdf;
  --card-surface-color: #f1f1f1;
  --border-stoke-dark-color: #222;
  --dark-mode: 0;
  --light-mode: 1;
  --box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);
  --temp-bg-brightness: 1;
  --card-primary-color-opp: #06fc99;
  --proposal-status-color: #d8d8d8;
  --proposal-status-stroke-color: #d4d4d4;
  --graph-fill-color: #d0d0d0;
  --graph-stroke-color: #b3b3b3;
  --vote-box-yes-color: #A1DCC3;
  --vote-box-yes-stroke-color: #12D481;
  --vote-box-no-color: #E4B0B0;
  --vote-box-no-stroke-color: #EF4444;
  --vote-box-veto-color: #CDAADD;
  --vote-box-veto-stroke-color: #B76FD7;
  --vote-box-abstain-color: #E6E2C5;
  --vote-box-abstain-stroke-color: #CFBB1D;
  --no-active-proposal-color: rgba(223,223,223, 0.4);
}

.dark {
  --card-primary-color-opp: #111111;

  --graph-fill: #969696;
  //   --graph-filled: #dcdcdc;
  --graph-filled: #06fc99;
  --temp-bg-brightness: 0.24;
  --lighten-color: black;
  --darken-color: white;
  --anim-bg-color: #1b4633;
  --canto-color: #06fc99;
  --light-color: 17, 17, 17;
  --dark-color: 255, 255, 255;
  --primary-dark-color: #eee;
  --primary-light-color: #222;
  --text-only-dark: #222222;
  --text-only-light: #ffffff;
  --primary-90-color: #eeeeee;
  --primary-10-color: #eeeeee31; // new
  --light-10-color: #121212e3;
  --light-20-color: #2d2d2d;
  --text-light-color: #111111;
  --card-background-color: #0b0b0b;
  --text-light-30-color: #1111114c;
  --extra-failure-color: #ef4444;
  --text-dark-30-color: #ededed4c;
  --extra-success-color: #06fc99;
  --text-light-40-color: #11111166;
  --card-subtle-color: #ffffff;
  --text-dark-40-color: #ececec66;
  --card-primary-color: #0ee489;
  --border-optional-color: #ffffff00;
  --extra-shadow: #cdcdcd;
  --border-stroke-color: #3d3d3d;
  --border-radius: 5;
  --text-dark-color: #ececec;
  --card-sub-surface-color: #292929;
  --card-surface-color: #1e1e1e;
  --dark-mode: 1;
  --light-mode: 0;
  --box-shadow: 0;
  ---temp-opacity: 1;
  --graph-fill-color: rgb(75,75,75,50%);
  --graph-stroke-color: #4b4b4b;
  --proposal-status-color: #383838;
  --proposal-status-stroke-color: #3d3d3d;
  --vote-box-yes-color: #303831;
  --vote-box-yes-stroke-color: #589C5B;
  --vote-box-no-color: #643131;
  --vote-box-no-stroke-color: #EF4444;
  --vote-box-veto-color: #4D2A5E;
  --vote-box-veto-stroke-color: #A22ED8;
  --vote-box-abstain-color: #666346;
  --vote-box-abstain-stroke-color: #F5E98A;
  --no-active-proposal-color: #101010;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  &:focus {
    outline: 2px solid none;
  }
}
// img {
//   position: relative;
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-color: rgba(var(--dark-color), 0.2);
//     border-radius: 50%;
//     display: block;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//   }
// }
body {
  background-color: var(--card-background-color);
  color: var(--text-dark-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.body {
  color: var(--text-dark-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

hr {
  border: none;
  border-top: 1px solid rgba(var(--dark-color), 0.2);
  width: 100%;
}

.separator {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--primary-90-color);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: calc(100% - 1px);
    height: 10px;
    border-left: 1px solid var(--primary-90-color);
    border-right: 1px solid var(--primary-90-color);
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 10px;
  }

  //   animation: loading 1.4s infinite ease-in;
  animation-delay: 0;

  @keyframes loading {
    to {
      width: 100%;
      opacity: 1;
    }
    from {
      width: 10%;
      opacity: 0;
    }
  }
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
