@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --border-dark-only-color: #ffffff00;
    --shadow: #cdcdcd;
    --primary-color: #111111;
    --background-color: #c1c1c1;
    --stroke-color: #b3b3b3;
    --border-radius: 0;
    --sub-surface-color: #dfdfdf;
    --surface-color: #f1f1f1;
    --text-color: #111111;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --border-dark-only-color: #ffffff;
        --shadow: #ffffff;
        --primary-color: #0ee489;
        --background-color: #303438;
        --stroke-color: #393d49;
        --border-radius: 4;
        --sub-surface-color: #23292e;
        --surface-color: #393e43;
        --text-color: #e1e1e1;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
