@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-mode: 0;
  --light-mode: 1;
}

::selection {
  background: var(--border-stoke-dark-color);
  color: var(--text-light-color);
}

.light {
  --dark-color: 17, 17, 17;
  --light-color: 255, 255, 255;
  --text-only-dark: hsl(0, 0%, 13%);
  --text-only-light: #ffffff;
  --primary-90-color: #222222;
  --text-light-color: #ffffff;
  --card-background-color: #c1c1c1;
  --text-light-30-color: #ffffff4c;
  --extra-failure-color: #ef4444;
  --text-dark-30-color: #1111114c;
  --extra-success-color: #06fc99;
  --text-light-40-color: #ffffff66;
  --card-subtle-color: #cacaca;
  --text-dark-40-color: #11111166;
  --card-primary-color: #111111;
  --border-optional-color: #ffffff00;
  --extra-shadow: #cdcdcd;
  --border-stroke-color: #b3b3b3;
  --border-radius: 0px;
  --text-dark-color: #111111;
  --card-sub-surface-color: #dfdfdf;
  --card-surface-color: #f1f1f1;
  --border-stoke-dark-color: #222;
  --dark-mode: 0;
  --light-mode: 1;
}

.dark {
--light-color: 17, 17, 17;
  --dark-color: 255, 255, 255
  --text-only-dark: #222222;
  --text-only-light: #ffffff;
  --primary-90-color: #eeeeee;
  --text-light-color: #111111;
  --card-background-color: #303438;
  --text-light-30-color: #1111114c;
  --extra-failure-color: #ef4444;
  --text-dark-30-color: #e1e1e14c;
  --extra-success-color: #06fc99;
  --text-light-40-color: #11111166;
  --card-subtle-color: #282f35;
  --text-dark-40-color: #e1e1e166;
  --card-primary-color: #0ee489;
  --border-optional-color: #ffffff;
  --extra-shadow: #ffffff;
  --border-stroke-color: #393d49;
  --border-stoke-dark-color: #555555;
  --border-radius: 4px;
  --text-dark-color: #e1e1e1;
  --card-sub-surface-color: #23292e;
  --card-surface-color: #393e43;
  --dark-mode: 1;
  --light-mode: 0;
  --box-shadow: 0;
}

.dark2 {
  --text-only-dark: #222222;
  --text-only-light: #ffffff;
  --primary-90-color: #eeeeee;
  --text-light-color: #111111;
  --card-background-color: #0b0b0b;
  --text-light-30-color: #1111114c;
  --extra-failure-color: #ef4444;
  --text-dark-30-color: #ededed4c;
  --extra-success-color: #06fc99;
  --text-light-40-color: #11111166;
  --card-subtle-color: #ffffff;
  --text-dark-40-color: #ececec66;
  --card-primary-color: #0ee489;
  --border-optional-color: #ffffff00;
  --extra-shadow: #cdcdcd;
  --border-stroke-color: #3d3d3d;
  --border-radius: 5;
  --text-dark-color: #ececec;
  --card-sub-surface-color: #292929;
  --card-surface-color: #1e1e1e;
  --dark-mode: 1;
  --light-mode: 0;
  --box-shadow: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  &:focus {
    outline: 2px solid var(--primary-90-color);
  }
}

body {
  background-color: var(--card-background-color);
  color: var(--text-dark-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
