.ecosystem {
  min-height: calc(100vh - 100px);
  width: 100%;
  max-width: 1400px;
  padding: 2rem 0;
}

.eco-grid {
  display: grid;
  gap: 4rem;
  padding: 2rem 0;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.eco-title {
  font-size: 48px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  //   max-width: 1400px;
  width: calc(100% - 4rem);
  height: 100%;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 6rem;
  max-height: calc(100vh - 50px);
  position: relative;
  &::before {
    content: "";
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: url("/bg.jpg");

    // background:
    //   repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
    //     2500px,
    //   repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px
    //     2500px;
    // background-blend-mode: difference;
    // animation: buzz 0.2s infinite alternate;
    background-repeat: no-repeat;
    // filter: brightness(var(--temp-bg-brightness, 1))
    //   opacity(var(--temp-opacity, 0.2));
  }
}
@keyframes buzz {
  100% {
    background-position:
      50% 0,
      60% 50%;
  }
}

@media screen and (max-width: 768px) {
  .eco-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .hero {
    max-height: calc(60rem);
    padding: 2rem 0;
    gap: 1rem;
  }

  .hero-logo {
    max-width: 50dvw;
  }

  .hero-orb {
    max-width: 70dvw;
  }

  .hero::before {
    background: none;
    background-color: rgba(var(--dark-color), 0.2);
  }

  .container {
    max-width: 100dvh;
    img {
      padding: 0;
      width: 100%;
    }
  }
}
