.ecosystem {
  min-height: calc(100vh - 100px);
  width: 100%;
  max-width: 1400px;
  padding: 2rem 0;
}
.container {
  //   background: repeating-linear-gradient(
  //     var(--card-background-color),
  //     var(--card-background-color) 6px,
  //     rgba(var(--dark-color), 0.04) 6px,
  //     rgba(var(--dark-color), 0.04) 12px
  //   );
}
.eco-grid {
  display: grid;
  gap: 4rem;
  padding: 2rem 0;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.eco-title {
  font-size: 48px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: 1400px;
  width: 100%;
  padding: 2rem;
  margin: 2rem 0;
  margin-bottom: 4rem;
  max-height: calc(100vh - 50px);
  position: relative;
  &::before {
    content: "";
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    filter: brightness(var(--temp-bg-brightness, 1));
  }
}
