.container {
  background: var(--card-sub-surface-color, #dfdfdf);
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.header {
  background: var(--card-primary-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.amounts {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.actions {
  padding: 1rem 2rem;
  display: flex;
  width: 70%;
  gap: 2rem;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(16%, 16%);
}


@media screen and (max-width: 768px) {
    .header  {
       flex-wrap: wrap;
       gap: 1rem;
    }

    .amounts {
      flex-wrap: wrap;
      gap: 1rem;
    }

    .logo {
        transform: translate(20%, -60%);
    }
}