.radioBtn{
    //color: green;
    display: flex;
    align-items: center;
    margin: 0px 17px 0px 15px;
}
.radioBtn input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid black;
    //margin: 0px 10px 0px 10px;
}

.radioBtn input[type='radio'][value="Yes"]:checked:after{
    background-color: #06FC99;
}
.radioBtn input[type='radio'][value="No"]:checked:after{
    background-color: #FC5151;
}
.radioBtn input[type='radio'][value="Veto"]:checked:after{
    background-color: #4455EF;
}
.radioBtn input[type='radio'][value="Abstain"]:checked:after{
    background-color: rgb(67, 64, 64);
}

.radioBtn2 {
    display: flex;
    align-items: center;
    //margin: 0px 17px 0px 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    visibility: visible;
    border: 3px solid black;
}