.container {
  width: 100%;
  height: 100px;
  border: 1px solid var(--border-stroke-color);
  border-radius: 4px;
  padding: 0 1rem;
  position: relative;
  cursor: text;
  &:hover {
    background-color: rgba(var(--dark-color), 0.08);
    outline: 1.4px solid rgba(var(--dark-color), 1);
  }

  &.error {
    border: 1px solid var(--extra-failure-color);
    background-color: #ff000017;

    &:hover {
      outline: 1.4px solid var(--extra-failure-color);
    }
  }
}

.max {
  cursor: pointer;
}

.focused:not(.error) {
  background-color: rgba(var(--dark-color), 0.08);
  outline: 1.4px solid rgba(var(--dark-color), 1);
}

.focused {
  outline: 1.4px solid var(--extra-failure-color);
}

.input {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: right;
  font-family: var(--rm-mono);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  letter-spacing: -0.96px;
  color: var(--primary-90-color, #222);
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--text-dark-40-color, rgba(17, 17, 17, 0.4));
  }
}

.balance {
  position: absolute;
  bottom: 6px;
}

.error-message {
  position: absolute;
  top: 6px;
  left: 14px;
  color: var(--extra-failure-color, #ff0000);
  font-size: 13px;
  font-style: normal;
  font-family: var(--rm-mono);
  line-height: 140%; /* 16.8px */
  letter-spacing: -0.48px;
  text-align: justify;
  transition: all 0.1s ease-in-out;
}
