.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 10px auto;
  border-top: 1px solid var(--primary-90-color);
  position: relative;
  padding-top: 10px;
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: calc(100% - 1px);
    height: 10px;
    border-left: 1px solid var(--primary-90-color);
    border-right: 1px solid var(--primary-90-color);
  }
}

.title {
  font-size: 32px !important;
  width: 100%;
}

.infoCard {
  background: var(--card-sub-surface-color, #dfdfdf);
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);
  border: 1px solid var(--border-stroke-color);
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 24px;
  position: sticky;
  top: 20px;
  margin-top: 0;
  width: 340px;
  .infoBox {
    display: flex;
    flex-direction: column;
    height: 25%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
