.container {
  display: flex;
  height: 40px;
  margin-bottom: 1px;

  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-stoke-dark-color, #222);

  .links {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .link {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: #999 1px solid;
    text-transform: uppercase;
    transition: background 0.1s ease-out;
    &:hover {
      background: #cecece;
      cursor: pointer;
      color: var(--primary-color, #111);
    }

    &:active {
      background: #bcbcbc;
    }

    &:not(:has(a)) {
      padding: 0 2rem;
    }
  }

  .item {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: #999 1px solid;
    text-transform: uppercase;
    transition: background 0.1s ease-out;
  }
  a {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--primary-90-color, #222);
    margin-right: 8px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 1px solid var(--primary-color, #111);

      animation: ripple 1s infinite ease-in-out;
    }

    @keyframes ripple {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      //   60% {
      //     transform: scale(1.8);
      //     opacity: 0.5;
      //   }

      100% {
        transform: scale(1.8);
        opacity: 0;
      }
    }
  }
}

.old-container {
  display: flex;
  height: 40px;
  padding: 6px 12px;
  margin: 0 clamp(1rem, 5vw, 2rem);
  gap: clamp(1rem, 2vw, 4rem);
  align-items: center;
  border-top: 1px solid var(--primary-90-color, #222);
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 1px;
    height: 10px;
    background: var(--primary-90-color, #222);
  }

  &::after {
    left: auto;
    right: 0;
  }
}
