.container {
  display: flex;
  width: 100vw;
  height: 32px;
  padding: 6px 0px;

  align-items: center;
  justify-content: center;
  background: var(--primary-color, #111);

  transform: translateY(-100%);
  animation: fadeIn 0.4s ease-in-out 0.4s forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.value {
  color: var(--text-only-light, #cacaca);
}
.item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.content {
  display: flex;
  gap: 5rem;
}

.shadow {
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);
}
