.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  animation: fade-in 0.15s forwards;
  z-index: 10;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.fadeout {
  animation: fade-out 0.25s forwards;

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .modal {
    animation: exit 0.2s ease-in forwards;
    @keyframes exit {
      0% {
        scale: 1;
      }
      60% {
        scale: 1.04 1.08;
      }
      90% {
        scale: 0.3 0.4;
      }
      100% {
        scale: 0;
      }
    }
  }
}

.wrapper {
  position: relative;
}

.modal {
  height: 100%;
  width: 100%;
  padding: 15px;
  border: 1px solid var(--text-dark-30-color);
  background-color: var(--card-sub-surface-color);
  box-shadow: 5px 5px 0 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius, 0px);
  animation: enter 0.15s ease-out forwards;

  @keyframes enter {
    0% {
      opacity: 0;
      scale: 0.7 0.8;
    }
    60% {
      scale: 1.1 1.2;
    }
    100% {
      opacity: 1;
      scale: 1;
      transform: translateY(0px);
    }
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 0 16px;
  font-size: 25px;
  height: 40px;
}

.close {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  transition: transform 0.3s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
    scale 0.3s ease-in;
  scale: 0.9;
  z-index: 30;
  &:hover {
    transform: rotateZ(270deg);
    scale: 1.1;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      scale 0.3s ease-in;
  }
}

.body {
  height: 100%;
}
