.tableContainer {
    width: 96%;
    background: lighten(#C1C1C1, 20%) !important;
    //color: blue !important;
    // display: flex;
    // flex-direction: column !important;
    margin: 0 auto;
    padding: 10px;
    //z-index: 1;
    box-shadow: 8px 8px rgba(17, 17, 17, 0.15) !important;
   
  
    .table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #e0e0e0;
      
      //margin: 0 auto;
      .tableHeader{
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
        box-sizing: border-box;
      }
      .tableData{
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
        box-sizing: border-box;
        font-size: 16;
        font-family: 'Proto Mono';
        font-weight: '400';
        //white-space: normal;
        //word-wrap: break-word;
        //overflow: hidden;
        //max-height: 40px; 
        //vertical-align: top; //
      
      }
      .tableTitleColumn {
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
        box-sizing: border-box;
        width: 30% !important; 
        //display: block ;
        overflow-wrap: break-word ;
      }
    }
  }

// .tableHeader {
//     padding: 0.5rem;
//     //text-align: left;
//     box-sizing: border-box;
//     border-bottom: 1px solid #e0e0e0;
//     color: red;
//   } 
// .tableData {
//     padding: 0.5rem;
//     box-sizing: border-box;
//     //text-align: left;
//     border-bottom: 1px solid #e0e0e0;
//   }




.row {
  //align-items: center;
  //color:orange;
  //position: relative;
  //display: grid;
  //width: 100%;
  //grid-template-columns: repeat(var(--table-columns), 1fr);
  height: 90px;
  transition: all 0.3s ease; // Smooth transition for hover effects
  position: relative; // Ensure the z-index works correctly
  //transition: all 0.1s ease-in;

  // &:not(.header) {
  //   // cursor: pointer;
  //   border: 1px solid var(--border-stroke-color);
  //   border-top: none;
  // }

  // > * {
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;

  //   //   &:last-child {
  //   //     grid-column: span 1;
  //   //   }

  //   &:first-child {
  //     grid-column: span 2;
  //   }
  //}
  //position: relative;
  //border: 1px #BEBEBE solid;

  // .id {
  //   width: 81px;
  //   left: 0;
  //   top: 34px;
  //   color: red;
  //   text-align: center;
  // }
  

  
}
.row:hover {
  background-color: #e0e0e0; // Change to your preferred shade of gray
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add a subtle shadow
  z-index: 1; // Ensure the row appears above the others
}

.emptyProposals{
  padding: 20px;
}
.noProposalsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin: 20px 20px 20px 20px;
}
