.tableContainer {
  //display: flex;
    width: 100% !important;
    background: var(--card-sub-surface-color, #dfdfdf);
    //color: blue !important;
    // display: flex;
    // flex-direction: column !important;
    //margin: 0 auto;
    padding: 10px;
    //z-index: 1;
    box-shadow: var(--box-shadow, 3px 3px 0px 0px rgba(17, 17, 17, 0.15));
   
    .toggleGroupContainer{
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      //width: 30%;
      .toggleGroup{
        //width: 30%;
        width: 30%;
      }
    }
    .table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      //border: 1px solid #e0e0e0;
      
      //margin: 0 auto;
      .tableHeader{
        padding: 0.5rem;
        text-align: left;
        border-top: 1px solid var(--border-stroke-color, #b3b3b3);
        border-bottom: 1px solid var(--border-stroke-color, #b3b3b3);
        box-sizing: border-box;
      }
      .tableData{
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid var(--border-stroke-color, #b3b3b3);
        box-sizing: border-box;
        font-size: 16;
        font-family: 'Proto Mono';
        font-weight: '400';
        //white-space: normal;
        //word-wrap: break-word;
        //overflow: hidden;
        //max-height: 40px; 
        //vertical-align: top; //
      
      }
      .tableTitleColumn {
        padding: 0% 3% 0% 2%;
        text-align: left;
        border-bottom: 1px solid var(--border-stroke-color, #b3b3b3);
        box-sizing: border-box;
        width: 30% !important; 
        //display: block ;
        overflow-wrap: break-word ;
      }
    }
    .paginationContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 20px 20px 20px;
    }

    .emptyProposals{
      padding: 20px;
    }
    .noProposalContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20%;
      text-align: center;
      flex-grow: 1;
      //width: 40%;
      //color: green;
      
    }
  }

// .tableHeader {
//     padding: 0.5rem;
//     //text-align: left;
//     box-sizing: border-box;
//     border-bottom: 1px solid #e0e0e0;
//     color: red;
//   } 
// .tableData {
//     padding: 0.5rem;
//     box-sizing: border-box;
//     //text-align: left;
//     border-bottom: 1px solid #e0e0e0;
//   }




.row {
  //align-items: center;
  //color:orange;
  //position: relative;
  //display: grid;
  //width: 100%;
  //grid-template-columns: repeat(var(--table-columns), 1fr);
  height: 90px;
  transition: all 0.3s ease; // Smooth transition for hover effects
  position: relative; // Ensure the z-index works correctly
  border-left: 1px solid var(--border-stroke-color, #b3b3b3);
  border-right: 1px solid var(--border-stroke-color, #b3b3b3);
  //transition: all 0.1s ease-in;

  // &:not(.header) {
  //   // cursor: pointer;
  //   border: 1px solid var(--border-stroke-color);
  //   border-top: none;
  // }

  // > * {
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;

  //   //   &:last-child {
  //   //     grid-column: span 1;
  //   //   }

  //   &:first-child {
  //     grid-column: span 2;
  //   }
  //}
  //position: relative;
  //border: 1px #BEBEBE solid;

  // .id {
  //   width: 81px;
  //   left: 0;
  //   top: 34px;
  //   color: red;
  //   text-align: center;
  // }
  

  
}
.row:hover {
  background-color: var(--border-stroke-color, #b3b3b3); 
  z-index: 1; // Ensure the row appears above the others
}




