.container {
  border-radius: 50px;
  border: 1px solid var(--border-stroke-color);
  background-color: rgba(var(--dark-color), 0.04);

  min-width: 22px;
  padding: 2px;
  height: 22px;
  scale: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
