.container {
  display: grid;
  flex-direction: column;
  justify-self: center;
  max-width: 1400px;
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid var(--primary-90-color);
  position: relative;
  padding-top: 2rem;
  grid-template-columns: 1fr 0.7fr;
  gap: 2rem;
  grid-template-areas:
    "title title"
    "accountHealth highlightCard"
    "mainContent mainContent";

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: calc(100% - 1px);
    height: 10px;
    border-left: 1px solid var(--primary-90-color);
    border-right: 1px solid var(--primary-90-color);
  }
}

.title {
  font-size: 32px !important;
  text-align: left;
  width: 100%;
  max-width: 1500px;
  grid-area: title;
}

.grid {
  display: flex;
  gap: 2rem;
  padding-top: 0rem;
  max-width: 1500px;
  width: 100%;
}

.mainTable {
  grid-area: mainContent;
  background-color: yellow;
  height: 1000px;
}

.accountHealth {
  width: 100%;
  height: 20rem;
  grid-area: accountHealth;
}

.highlightCard {
  background-color: blue;
  width: 100%;
  height: 20rem;
  grid-area: highlightCard;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
  .grid {
    flex-direction: column-reverse !important;
    width: calc(100% - 2rem) !important;
  }
  .highlightCard {
    flex-direction: column;
  }
  .mainTable {
    flex-direction: column;
    width: calc(100%) !important;
  }
}
