.proposalContainer{
    display: flex ;
    flex-direction: column !important ;
    //justify-content: space-between;
    //width: 100% !important;
    //flex-wrap: wrap !important;
    //background-color: blue;
    padding: 20px 20px 20px 20px;

    .proposalHeaderContainer{
        padding: 10px 0px 20px 10px;
        border-bottom: 1px solid var(--border-stroke-color, #b3b3b3);
    }
    .proposalCard1{
        display: flex;
        flex-direction: row !important;
        border-style: solid !important;
        width: fit-content;
    }
    .proposalCardContainer{
        padding: 10px 0px 0px 0px;
        display: flex !important;
        flex-direction: row !important;
        
        height: 70%;
        
        //justify-content: space-between !important;
    }
    .proposalCardContainer1{
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        //background-color: green;
        // width: 50% !important;
        //height: 100%;
        width: 50%;

        
    }
    .proposalCardContainer2{
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        //background-color: blue;
        width: 50%;
        background-color: var(--card-sub-surface-color, #dfdfdf);
        
        // background-color: red;
    }
    .proposalInfoBox{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--card-sub-surface-color, #dfdfdf);
        margin: 0px 20px 20px 20px;
        height: 20%;
        box-shadow: 3px 3px 0px rgba(41, 40, 40, 0.2);
        padding: 10px;
        //align-items: center;
        //justify-content: space-between;
        //margin: 10% 10% 10% 10%;
        .proposalInfo{
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }
    .proposalInfoBoxVoting{
        background-color: var(--card-sub-surface-color, #dfdfdf);
        //height: 500px;
        height: 80%;
        .proposalInfoVoting{
        
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: nowrap;
            border: 1px #B3B3B3 solid;
            //height: 20%;
            width: 30%;
        }
        .proposalInfoRow1{
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            height: 20%;
            margin: 10px;
        }

    }
    .VotingButton{
        margin: auto;
        align-items: center;
    }
    
}