.proposalInfoVoting {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  flex-wrap: nowrap;
  border: 1px solid var(--border-stroke-color, #b3b3b3);
  border-radius: 5px;
  padding: 10px;
  //border-radius: 2px;
  height: 100%;
  width: 48%;
  .radioBtnContainer {
    //padding: 40% 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
  }
}
// .proposalInfoVoting:hover{
//     background-color: lightgreen;
// }
.proposalInfoRow1 {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  height: 45%;
  margin: 15px 30px 0px 30px;
}

.votingInfoRow1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  .circle {
    width: 7px; /* Small circle size */
    height: 7px; /* Small circle size */
    //background-color: red; /* Red circle */
    border-radius: 50%; /* Make it round */
    //margin-top: 20%;
    //position: absolute; /* Position it inside the box */
  }
}
.votingInfoRow2 {
  .infoRow1First {
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: flex-end;
    width: 100%;
  }

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

.radioBtn {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: white;
  visibility: visible;
  border: 3px solid black;
}
