.proposalInfoVoting {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  padding: 10px;
  height: 100%;
  width: 48%;
  .radioBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
  }
}


.votingInfoRow1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  .circle {
    width: 7px;
    height: 7px; 
    border-radius: 50%; /* Make it round */
  }
}

.infoRow1First {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: flex-end;
  width: 100%;
}


