.circle {
  fill: #fff;
  transition: fill 0.1s ease-in-out, stroke-width 0.1s ease-in-out,
    r 0.1s ease-in-out;
  r: 10;

  &:hover {
    fill: var(--extra-success-color);
    stroke-width: 3px;
    r: 20;
  }

  &:active {
    fill: var(--extra-failure-color);
    stroke-width: 3px;
    r: 18;
  }
}

.polyline {
  fill: #999;
}

.svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  text {
    font-family: var(--rm-mono);
    font-size: 8px;
  }
}
