.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: url("/wires.svg") no-repeat center center;
  background-size: 100%;
}

.moving {
  width: 10px;
  border: 1px solid white;
  opacity: 0.5;
  aspect-ratio: 1.23433242507;
  position: absolute;
  --anim-time: 20s;
  &:nth-of-type(1) {
    animation: moving var(--anim-time) linear infinite;
    animation-delay: 0s;
  }

  &:nth-of-type(2) {
    animation: moving var(--anim-time) linear infinite;
    animation-delay: 4s;
  }

  &:nth-of-type(3) {
    animation: moving var(--anim-time) linear infinite;
    animation-delay: 8s;
  }

  &:nth-of-type(4) {
    animation: moving var(--anim-time) linear infinite;
    animation-delay: 12s;
  }

  &:nth-of-type(5) {
    animation: moving var(--anim-time) linear infinite;
    animation-delay: 16s;
  }

  &:nth-of-type(6) {
    animation: moving var(--anim-time) linear infinite;
    animation-delay: 20s;
  }

  @keyframes moving {
    0% {
      width: 100px;
    }
    100% {
      width: 100vw;
    }
  }
}

.sample {
  display: flex;
  width: 600px;
  height: 400px;
  padding: 0px 16px 20px 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: var(--card-sub-surface-color, #dfdfdf);
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);
  z-index: 2;
}
