.filterContainer {
    width: 50%; /* Rightmost half of the page */
    float: right;
    text-align: right;
    height: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    //border: 1px solid grey;
  }
  
  .button {
    padding: 8px 16px;
    //margin-left: 10px;
    border: 1px solid grey;
    cursor: pointer;
    background-color: grey;
    opacity: 0.6; /* Unselected buttons are not as bright */
    //border-radius: 3px;
  
    &.selected {
      opacity: 1; /* Selected button is bright */
      background-color: black;
      color:white;
    }
    &:hover {
        background-color: #363434;
        color: white;
      }
    &.selected:hover {
    background-color: #333; // Slightly lighter black on hover for selected button
    }
  }
  
  .test{
    // display: flex;
    // flex-direction: row-reverse;
    border: 3px solid orange;
  }