.container {
  background: var(--card-sub-surface-color, #dfdfdf);
  box-shadow: 6px 6px 0px 0px rgba(17, 17, 17, 0.15);

  margin: 0 auto;
  width: 920px;
  //   height: 320px;
  padding-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.header {
  background: var(--card-primary-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.amounts {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.actions {
  padding: 1rem 2rem;
  display: flex;
  width: 70%;
  gap: 2rem;
}

.item {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
}

.title {
  font-size: 16px;
}

.value {
  font-size: 32px !important;
}

.postChild {
  margin-left: -1rem;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(16%, 16%);
}
